table {	
	text-align : center;
  	box-shadow :2px 2px 5px black;
  	background-color: white;
    margin: auto;
    margin-bottom: 100px;
}

tr th, tr td {
	font-weight: bold;
	padding: 12px 8px;
	padding-left: 25px;
	text-align : center;
	margin: auto;
}

tr td.reponses {
	padding: 0;
}

thead {
	border-radius : 2px;
	cursor: pointer;
	background: #0182cc;
	border-top: 5px solid #333;
}

thead:first-child {
	border-top: none;
}

tr th.headerSortUp, tr th.headerSortDown {
	background: #333;
}


input {
	width: 45px;
}

.petit {
	transform: none;
	top: auto;
	left: auto;
	box-shadow: none;
	position: relative;
	margin: auto;
}

tr th input[type="button"] {
	margin: auto;
	width: auto;
}

tr td input[type="button"] {
	margin: auto;
	padding-left: 7px;
}

#bureau {
	width: 70%;
	margin-bottom: 0;
}

.vrai{
	color : blue;
}
.faux{
	color : red;
}

.no_rep{
	color : black;
}

.presse {
	animation: clignote 1s infinite;
}

@keyframes clignote {
  	0%{background: #eee;}
	50%{background: #0182cc; color: #fff;}
	100%{background: #eee;}
}

#bas {
	display: flex;
	width: 800px;
	margin: 50px auto 100px;
}

#bas input {
	width: 200px;
	margin: 0;
}

#bas a + a {
	margin-left: 100px;
}

#bas input#lancer {
	background: #0182cc;
	color: #fff;
}


.annule {
	background-color: #ddd;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, #f00 8px, #f00 12px);
	cursor: default;
}

.gris {
	background-color: #ddd;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, #0182cc 8px, #0182cc 12px);
	cursor: default;
}

#m{
	text-align : center;
}
